<!-- Content Heading -->
<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- flash messages if any will be displaced as a result of the following line of code -->
<%- messages() %>

<!-- Code block to handle errors -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Welcome Message -->


<!-- Form for new message -->
<form action="/account/createMessage" method="post">
  <p>ALL FIELDS ARE REQUIRED</p><br>
  <fieldset>
    <label for="accountId" id="accountNames">To:</label> <br>
    <!-- droplist in -->
    <%- select %> <br>
    <label for="subjectMessage">Subject:</label>
    <input name="subject_message" id="subjectMessage" type="text" required>
    <label for="subjectBody">Message:</label>
    <textarea name="subject_body" id="subjectBody" cols="30" rows="10" required></textarea> <br>
  </fieldset>
</form>