<!-- <div id="acheck">
    <nav>
        <ul id="navi">
            <li>Home</li>
            <li>Custom</li>
            <li>Sedan</li>
            <li>SUV</li>
            <li>Truck</li>
        </ul>
    </nav>
</div> -->

<nav>
    <%- nav %>
</nav>