<h3>Welcome to CSE Motors!</h3>

<img src="/images/vehicles/delorean-tn.jpg" alt="delorean car">
<div id="hero">

    <div id="back">
        <div id="owntoday">
            <h3>DMC Deloran</h3>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <a href="#"><img src="/images/site/own_today.png" alt="own today"></a>
        </div>
    </div>
</div>

<div id="reviews">
    <h4>DMC Deloran Reviews</h4>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly." (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>

<div id="ulinks">
    <h4>Delorean Upgrades</h4>
    <ul>
      <li>
        <div id="cbox">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
        </div>
          <a href="#">Bumper Sticker</a>
        </li>
      <li>
        <div id="cbox">
          <img src="/images/upgrades/flame.jpg" alt="flame">
        </div>
        <a href="#">Flame Decals</a>
      </li>
      <li>
        <div id="cbox">
          <img src="/images/upgrades/flux-cap.png" alt="flux cap">
        </div>
        <a href="#">Flux Capacitor</a>
      </li>
      <li>
        <div id="cbox">
          <img src="/images/upgrades/hub-cap.jpg" alt="hub cap">
        </div>
          <a href="#">Hub Caps</a>
        </li>
    </ul>
  </div>