/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Home Phone View */
#top-header{
  display: flex;
  justify-content: space-between;
}

.siteName a{
  font-size: 25px;
  text-decoration: none;
  color: rgb(32, 31, 31);
}

#tools a{
  text-decoration: none;
  color: rgb(32, 31, 31);
}

#navi {
  display:flex;
  justify-content: space-evenly;
  background-color: rgb(32, 31, 31);
  padding: 10px;
  list-style-type: none;
}

#navi a{
  text-decoration: none;
  color:aliceblue;
}

#hero{
  /* display:flex; */
  position:relative;
  /* align-items: center;
  justify-content: space-between; */
  
}

#small{
  display:block;
  margin:0 auto;
}


#large{
  display: none;
}

#owntoday {
  line-height: 0.1;
  padding: 2%;
  background-color: rgb(106 141 168 / 13%);
  color: #000000;
  width: 150px;
  position: absolute;
  top:0;
}



#owntoday a img {
  width: 50%;
}

#reviews{
  padding-top: 15px;
}


#ulinks ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

#ulinks li {
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

#ulinks li a {
  padding-left: 35px;
}

#ulinks img {
  display: flex;
  /* max-width: 100%;
  height: auto; */
  width: 50px;
  height: 50px;
  margin: 0 auto;
}



#cbox{
  margin: 0 auto;
  background-color: aqua;
  max-width: 70%;
  border: 1px solid black;
  padding: 10%;
}

/* Styling the grid view. Phone version */

#inv-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

#inv-display li{
  border: 1px solid grey;
  border-radius: 3%;
  list-style-type: none;
  max-width: 205px;
}

#inv-display img{
  width: 100%; 
  border-radius: 4%;
}

.namePrice{
  text-align: center;
}


/* Styling the single view for the cars. Phone version */

.car-image img{
  max-width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Account Login */
form {
  /* border: 1px solid black; */
  padding: 4%;
  display: flex;
  justify-content: center;
  line-height: 1.4em;
  /* max-width: 100%; */
}

fieldset{
  padding:1%;
  width: 260px;
}

fieldset p{
  display: flex;
  justify-content: center;
}




@media screen and (min-width: 900px){
body {
  background-image: url(/images/site/checkerboard.jpg);
}

#wrapper{
  background-color: white;
  padding: 30px;
  max-width: 1050px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid rgb(24, 81, 102);
}

#small{
  display: none;
}

#large{
  display:block;
  margin:0 auto;
}

/* #acheck{
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
} */

#navi{
  padding: 1%;
}

#owntoday{
  width: auto;
}

#cbox{
  margin: 0 auto;
  max-width: 60%;
  padding: 2%;
}

#ulinks ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  /* flex-wrap: wrap;
  align-items: flex-end; */
}

#ulinks li a {
  padding-left: 75px;
}

#side{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#ulinks{
  grid-column: 1;
  grid-row: 1;
}

#reviews{
  grid-column: 2;
}
/* Styling the single view for the cars. Web & Tablet version */
.car-image{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.car-image img{
  height: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}
}
