/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Home Phone View */
#top-header{
  display: flex;
  justify-content: space-between;
}

.siteName a{
  font-size: 25px;
  text-decoration: none;
  color: rgb(32, 31, 31);
}

#tools a{
  text-decoration: none;
  color: rgb(32, 31, 31);
}

#navi {
  display:flex;
  justify-content: space-evenly;
  color:aliceblue;
  background-color: rgb(32, 31, 31);
  padding: 5%;
  list-style-type: none;
}

/* #hero{
 
} */

/* #hero img{
  
} */

#owntoday {
  line-height: 0.1;
  padding: 2%;
  background-color: rgba(229, 238, 245, 0.3);
  color: #000000;
}

#back{
  width: 150px;

}

#owntoday a img {
  width: 50%;
}


#ulinks ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
 
}

#ulinks li {
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 20px;
  border-style: dashed;

}

#ulinks li a {
  padding-left: 35px;
}

#ulinks img {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  
}


/* body {
  background-image: url(/images/site/checkerboard.jpg);
} */