/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Home Phone View */
#top-header{
  display: flex;
  justify-content: space-between;
}

.siteName a{
  font-size: 25px;
  text-decoration: none;
  color: rgb(32, 31, 31);
}

#tools a{
  text-decoration: none;
  color: rgb(32, 31, 31);
}

#navi {
  display:flex;
  justify-content: space-evenly;
  color:aliceblue;
  background-color: rgb(32, 31, 31);
  padding: 5%;
  list-style-type: none;
}

#hero{
  /* display:flex; */
  position:relative;
  /* align-items: center;
  justify-content: space-between; */
  
}

#small{
  display:block;
  margin:0 auto;
}


#large{
  display: none;
}

#owntoday {
  line-height: 0.1;
  padding: 2%;
  background-color: rgb(106 141 168 / 13%);
  color: #000000;
  width: 150px;
  position: absolute;
  top:0;
}



#owntoday a img {
  width: 50%;
}

#reviews{
  padding-top: 15px;
}


#ulinks ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

#ulinks li {
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

#ulinks li a {
  padding-left: 35px;
}

#ulinks img {
  display: flex;
  /* max-width: 100%;
  height: auto; */
  width: 50px;
  height: 50px;
  margin: 0 auto;
}



#cbox{
  margin: 0 auto;
  background-color: aqua;
  max-width: 70%;
  border: 1px solid black;
  padding: 10%;
}


@media screen and (min-width: 900px){
body {
  background-image: url(/images/site/checkerboard.jpg);
}

#small{
  display: none;
}

#large{
  display:block;
  margin:0 auto;
}

#acheck{
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
}

#navi{
  padding: 1%;
}

#owntoday{
  width: auto;
}

#cbox{
  margin: 0 auto;
  max-width: 60%;
  padding: 2%;
}

#ulinks ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  /* flex-wrap: wrap;
  align-items: flex-end; */
}

#ulinks li a {
  padding-left: 75px;
}

#side{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#ulinks{
  grid-column: 1;
  grid-row: 1;
}

#reviews{
  grid-column: 2;
}
}
